body {
  background-color: #757575;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 75px;
  text-shadow: 2px 2px black;
}

.page-title {
  margin: auto;
  width: 100%%;
  text-align: center;
  color: #ff9800;
  font-family: "Lobster", cursive;
}

.cards-container {
  align-content: flex-start;
  background-color: #212121;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.card {
  background-color: #f5f5f5;
  border: 1px solid darkblue;
  box-shadow: 5px 10px #888888;
  flex: 0 0 25%;
  margin: 20px;
  min-width: 300px;
  z-index: 1;
}

.product-title {
  background-color: #f57c00;
  border: 1px solid lightblue;
}

.product-pic {
  width: 275px;
  display: block;
  margin: auto;
}

.product-description {
  color: #757575;
  font-style: italic;
  min-height: 100px;
  padding: 0px 10px;
  text-align: justify;
}

.product-title {
  text-align: center;
}

.product-availability {
  background-color: darkgray;
  color: yellow;
  padding: 0;
}
.pricing-header,
.product-specifications {
  font-size: 0.8em;
  font-style: bold;
}

.section2 {
  background-color: #ffe0b2;
}

.section3 {
  background-color: #ff9800;
}

.product-size,
.product-weight,
.product-price {
  font-size: 0.9em;
  padding: 10px, 15px;
  text-indent: 20px;
}

.product-date-valid {
  font-size: 0.5em;
  padding: 1px;
  text-align: center;
}

.soldout {
  height: 0;
  position: relative;
  width: 0;
  z-index: 2;
  /* can't seem to correctly center or size soldout image */
  top: 100px;
  left: calc((100% - 424px) / 2)
}

@media only screen and (max-width: 1040px) {
  .product-pic {
    width: 150px;
  }

  .card {
    /* width: 150px; */
    min-width: 150px;
  }

  .product-title {
    font-size: 0.7em;
  }

  .product-description {
    font-size: 0.6em;
    min-height: 50px;
    padding: 0px 10px;
  }

}

@media only screen and (max-width: 697px) {
  .card {
    flex: 0 0 25%;
    max-width: 300px;
    min-width: 300px;
    width: 300px;
  }

  .product-title {
    font-size: 1em;
  }

  .cards-container {
    justify-content: center;
  }
}
