body {
    background-color:  #757575;
    font-family: 'Roboto', sans-serif;
    
}

/* * {
    border: 1px solid red;
    padding: 0px;
} */

h1 {
    font-size: 75px;
    text-shadow: 2px 2px black;
}

.page-content {
    /* display: flex;
    flex-wrap: wrap; */
}

#page-title {
    margin: auto;
    width: 100%%;
    text-align: center;
    color: #FF9800;
    font-family: 'Lobster', cursive;
}

.cards-container {
    background-color: #212121;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    position:absolute; 
    width: 100%;
}

.card {
    width: 300px;
    flex: 0 0 25%;
    box-shadow: 5px 10px #888888;
    margin: 20px;
    border: 1px solid darkblue;
    background-color: #F5F5F5;
    z-index: 1;
    /* position:absolute; */
}

.product-title {
    border: 1px solid lightblue;
    background-color: #F57C00;
}

.product-pic {
    width: 275px;
    display: block;
    margin: auto;
}

.product-description {
    text-align: justify;
    font-style: italic;
    padding: 0px 10px;
    color: #757575;
    min-height: 50px;
}

.product-title {
    text-align: center;
}

.product-availability {
    padding: 0;
    background-color: darkgray;
    color: yellow;
}
.pricing-header, .product-specifications {
    font-size: .8em;
    font-style: bold;
}

.section2 {
    background-color: #FFE0B2;
}

.section3 {
    background-color: #FF9800;
}

.product-size, .product-weight, .product-price {
    padding: 10px, 15px;
    font-size: .9em;
    text-indent: 20px;
}

.product-date-valid {
    font-size: .5em;
    text-align: center;
    padding: 1px;
}

/* .soldout {
    position: relative;
    margin-top: -1px;
    top: 0;
    left: 0;
    z-index: 2; 
    display: flex; 
}  */

.soldout {
    position: relative; 
    width: 0; 
    height: 0;
    /* z-index: 2; */
}

/* .soldout-img {
    width: 50px;
} */